:root {
  --color-light: #5a5346;
  --color-medium: #d9cbb0;
  --color-dark: #d8a371;
  --background: hsl(36, 39%, 88%);
  --muted: hsl(36, 33%, 75%);
  --muted-foreground: hsl(36, 45%, 25%);
  --card: hsl(36, 46%, 82%);
  --border: hsl(36, 45%, 60%);
  --input: hsl(36, 45%, 60%);
  --radius: 0rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  color: #4a381c;
  background-color: var(--background);
  overflow: hidden;
}

.app {
  justify-content: center;
  display: flex;
  min-height: 95vh;
  /* column-gap: 2rem; */
  align-items: start;
  transition: grid-template-columns 0.5s ease-in-out; /* 加入動畫過渡 */
  flex: 1;
  padding: 20rem 0 0 0;
}

.button {
  background-color: var(--color-medium);
  color: #5c4523;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 9999px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--color-dark);
}
.sidebar {
  position: relative;
  transition: transform 0.4s ease-in-out; /* 加入移動效果 */
}
/* 當 sidebar 被選擇時的樣式 */
.sidebar.move-left {
  transform: translateX(-5%); /* 移動到左邊 */
}
/* 當 sidebar 關閉時的樣式 */
.sidebar.move-center {
  transform: translateX(0); /* 回到中間 */
}
.sidebar {
  background-color: var(--card);
  padding: 1.2rem;
  border-radius: 7px;
  border: 1px solid var(--border);
}
.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.sidebar li {
  display: grid;
  grid-template-columns: 4.8rem 1fr auto;
  align-items: center;
  column-gap: 1.6rem;

  padding: 1.2rem;
  border-radius: 7px;
  transition: background-color 0.3s;
}

.selected,
.sidebar li:hover {
  background-color: var(--card);
}

.sidebar li img {
  border-radius: 50%;
  width: 100%;
  grid-row: span 2;
}

.sidebar li h3 {
  grid-row: 1;
  grid-column: 2;
}

.sidebar li p {
  grid-row: 2;
  grid-column: 2;
}

.sidebar li .button {
  grid-row: span 2;
  grid-column: 3;
}

.sidebar > .button {
  float: right;
  margin-right: 1.2rem;
}

.green {
  color: #66a80f;
}

.red {
  color: #e03131;
}

form {
  font-size: 1.6rem;
  display: grid;
  align-items: center;
  gap: 1.2rem;
  background-color: var(--card);
  border-radius: 7px;
}
/* 設定form初始樣式 */
.form-container {
  position: relative;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
  opacity: 0; /* 初始時為隱藏 */
}

/* 當選擇朋友時form往右 */
.form-slide-right {
  transform: translateX(5%);
  opacity: 1; /* 淡入 */
}

/* 當不選擇朋友時form移回原位 */
.form-slide-left {
  transform: translateX(0);
  opacity: 0; /*淡出  */
}
/* 避免 form 在狀態變化時過度透明 */
.form-container.hidden {
  display: none; /* 隱藏不顯示的 form */
}
.form-add-friend {
  grid-template-columns: 1fr 1.5fr;
  margin-bottom: 1.6rem;
  padding: 1.2rem;
}
.form-split-bill {
  grid-template-columns: 1fr 12rem;
  padding: 3.2rem 4rem;
}

label {
  font-weight: 500;
}

label::first-letter {
  display: inline-block;
  margin-right: 4px;
  font-size: 1.8rem;
}

input,
select {
  font-family: inherit;
  color: inherit;
  font-size: 1.5rem;
  padding: 0.7rem;
  text-align: center;
  border: 1px solid var(--color-light);
  border-radius: 4px;
  transition: border 0.3s;
}

input:focus,
select:focus {
  outline: none;
  border: 1px solid var(--color-dark);
}

form .button {
  margin-top: 0.6rem;
  grid-column: 2;
}

form h2 {
  grid-column: 1 / -1;
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  margin-bottom: 1.6rem;
}
